<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<!-- <% include partials/menu %> -->
<div class="container-fluid bg-3 text-center">    
  <h3>Restoring Division Calculator</h3><br>
  <form action="/restoringdivision/calculate" method="post">
    <input type="number" class="form-control" name="dividend" placeholder="Dividend (in binary)">
     รท 
    <input type="number" class="form-control" name="divisor" placeholder="Divisor (in binary)">
    <br>
    <label class="form-label">Display Option: </label>
    <select class="form-control" name="viewOption" id="option">
      <option value="all-steps">All Steps</option>
      <option value="step-by-step">Step-by-step</option>
    </select>
    <br>
    <input type="checkbox" name="textFileOutput"> <label> Output result in text file</label>
    <br>
    <input class="btn btn-primary" type="submit" value="Calculate">
  </form>
</div>

<% if (steps) { %>
  <div>
    <% if(viewOption == "all-steps"){ %>
      <% steps.forEach((step, index) => { %>
        <tr>
            <td>Step <%= (index + 1) %>:</td>
            <br>
            <td>NewA: <%= step.newA %></td>
            <td>NewQ: <%= step.newQ %></td>
            <td>a: <%= step.a %></td>
            <td>q: <%= step.q %></td>
        </tr>
        <br>
      <% }) %>
    <% } %>

    <% if(viewOption == "step-by-step"){ %>
      <!-- <% steps.forEach((step, index) => { %>
        <tr>
            <td>Step <%= (index + 1) %>:</td>
            <br>
            <td>NewA: <%= step.newA %></td>
            <td>NewQ: <%= step.newQ %></td>
            <td>a: <%= step.a %></td>
            <td>q: <%= step.q %></td>
        </tr>
        <br>
      <% }) %> -->
      <button>Next Step</button>
      <!-- <table class="table table-hovered" id="stepByStepTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Genre</th>
            </tr>
        </thead>
        <tbody>
           <tr>
             <td></td>
           </tr>
        </tbody>
    </table> -->

    <% } %>
  </div>
<% } %>

</body>
</html>